/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  padding: 20px; /* Add padding to body for overall left and right spacing */
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #444;
}

/* Filter Styles */
.filters {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}

input#search,
select#raceFilter {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

/* Results Container */
.results-container {
  display: flex;
  flex-direction: column; /* Display items in a column */
  gap: 20px; /* Add vertical spacing between cards */
  padding: 20px 10px;
}

/* Individual Match Card */
.match-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%; /* Take full width */
  max-width: 800px; /* Limit the width for better readability */
  margin: 0 auto; /* Center align the card */
  padding: 20px;
  transition: transform 0.2s;
}

.match-card:hover {
  transform: scale(1.03);
}

.match-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.match-card p {
  margin: 5px 0;
  font-size: 14px;
  white-space: pre-wrap; /* Preserve whitespace and line breaks */
  word-wrap: break-word; /* Break long words to avoid overflow */
}

.match-card iframe {
  margin-top: 10px;
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 5px;
}


.winner {
  font-weight: bold;
}

.loser {
  color: #6c757d; /* 진한 회색 */
  font-weight: bold;
}

.winner-section {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ffd700; /* 금색 테두리 */
}

.loser-section {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #d6d6d6; /* 옅은 회색 테두리 */
}

.show-more-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

/* Style the button */
.show-more {
  background-color: #007BFF; /* Bootstrap primary color */
  color: #fff; /* White text */
  border: none; /* Remove default border */
  border-radius: 25px; /* Rounded corners */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Increase font size */
  cursor: pointer; /* Add pointer on hover */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

/* Button hover effect */
.show-more:hover {
  background-color: #0056b3; /* Darker blue */
  transform: scale(1.05); /* Slight zoom effect */
}

/* Button active effect */
.show-more:active {
  transform: scale(0.95); /* Slight shrink effect */
}